<head>
    <link rel="stylesheet" href="style.css">
</head>

<!-- figure out how to bypass this if the user is already logged in -->

<body>
    <h1>21 Check</h1>
    <form method="POST" action="/21CheckPost">
        <input type="date" name="birthday">
        <input type="submit" name="submitbutton" value="Enter" class="submit-btn">
        </form>
</body>