<%- include('nav.ejs') %>


    <body>
        <div class="container">
            <!-- doesnt look lined up -->
            <h1 class="pageHeader">index.ejs</h1>

            <div class="factOfTheDay">
                <h1>Fact of the Day</h1>
                <h2 class="todaysDate">
                    <%= currentDate %>
                </h2>
                <h4 class="todaysFact">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod leo eu
                    nulla hendrerit volutpat. Cras et nibh auctor, pretium tellus in, lobortis metus. Vestibulum finibus
                    odio orci, sit amet dictum sapien pellentesque fringilla.</h4>
            </div>

            <h1 class="pageHeader">Life of Jimmy</h1>
            <div class="lifeOfJimmy">
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
                <p>Jimmy Life Fact</p>
            </div>


        </div>

    </body>

    <%- include('footer.ejs') %>