<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navHolder">
    </div>
    <div class="navBar">
        <div class="websiteName">
        <a href="/"><h1 class="websiteNameText">In Honor of Jimmy</h1></a>
    </div>
        <div class="navBarButtons">
            <a href="/recipes"><button class="navButton"><p class="buttonText">Recipes</p></button></a>
            <a href="/margaritaville"><button class="navButton"><p class="buttonText">Margaritaville</p></button></a>
            <a href="/account"><button class="navButton"><p class="buttonText">Account</p></button></a>
        </div>
    </div>
</body>