body {
  --textColor1: #e6d9af;
  --textColor2: #073d12;
  --backgroundColor: #a2c7e5;
  --backgroundColorPop: #046e8f;
  --accentColor: #25c39e;

  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;

  color: var(--textColor1);
  background-color: var(--backgroundColor);
}

.container {
  width: 100%;
}

/* NAV BAR STYLING */
.navBar {
  background-color: var(--backgroundColorPop);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 10;
  /* top: 100%; */
  align-items: center;
}

.websiteName {
  width: 50%;
}

.websiteName a {
  text-decoration: none;
}

.websiteNameText {
  color: var(--textColor1) !important;
  text-decoration: none;
}

.navBarButtons {
  justify-content: right;
  top: 20%;
  width: 50%;
  display: flex;
  padding-right: 20px;
  height: 100%;
  align-items: center;
}

.navBarButtons button {
  height: 40px;
  margin-left: 20px;
  background-color: var(--accentColor);
  border: 3px solid var(--backgroundColor);
  border-radius: 10px;
}

.navBarButtons button:hover {
  cursor: pointer;
}

.buttonText {
  color: var(--textColor1) !important;
  margin: 0;
  padding: 5px;
  font-size: 17px;
}

/* FOOTER STYLING */

.footerBar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColorPop);
  margin-bottom: 0px;
  font-size: 22;
  margin-top: 50px;
}

.footerTopHalf {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.footerTopHalf h3 {
  margin-bottom: 0px;
}

.footerBottomHalf {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.footerLinks {
  flex: 3;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.footerA {
  padding-right: 25px;
}

.footerLinks a p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: none;
  color: var(--textColor1);
}

.footerCopyright {
  flex: 5;
  margin-top: 0px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.footerCopyright h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* INDEX STYLING */

.pageHeader {
  width: 100%;
  /* margin-left: 15%; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  text-align: center;
  color: var(--textColor2);
  display: flex;
  justify-content: center;
}
.factOfTheDay {
  background-color: var(--accentColor);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
}

.lifeOfJimmy {
  background-color: var(--accentColor);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--backgroundColorPop);
}

/* ACCOUNT PAGE STYLING */

.canDrinkCountdown {
  background-color: var(--accentColor);
  width: 70%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
}

.daysRemaining {
  font-size: 25;
}

.logoutButtonDiv {
  /* width: 70%; */
  /* margin-left: 15%; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logoutButtonDiv button {
  height: 60;
  /* margin-left: 20px; */
  background-color: var(--accentColor);
  border: 3px solid var(--backgroundColorPop);
  border-radius: 10px;
  width: 300px;
}

/* FORM STYLING */

.loginForm {
  background-color: var(--accentColor);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
}

.loginForm h2 {
  /* width: 70%;
  margin-left: 15%; */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: var(--textColor2);
}

.loginForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.loginForm input {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
}

.loginForm input::placeholder {
  color: var(--textColor2);
  padding-left: 15px;
}

.pfp-container label {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: var(--textColor2);
}

.loginForm input[type="submit"]:hover {
  cursor: pointer;
}

.loginForm label {
  color: var(--textColor2);
}

/* INGREDIENTS FORM */

.ingredientsForm {
  background-color: var(--accentColor);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
}

.ingredientsForm form {
  width: 100%;
}

.ingredientsForm input {
  width: 70%;
  /* margin-left: 15%; */
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
}

.fileUploadButton {
  width: 49.3%;
  /* margin-left: 15%; */
  margin-bottom: 10px;
  height: 40px !important;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
  display: inline-block;
  text-align: center;
  /* text-justify: center; */
  margin-left: 25%;
}

.fileUploadButton:hover {
  cursor: pointer;
}


.recipeCategory {
	display: flex;
	flex-direction: row;
	margin-left: 20.3%;
}

.alcoholCategory {
  display: none;
	flex-direction: row;
	margin-left: 20.3%;
}

.selectedRadioButton{
  width: 20%;
  /* margin-left: 15%; */
  margin-bottom: 10px;
  height: 40px !important;
  border-radius: 10px;
  border: 3px solid var(--textColor2);
  background-color: var(--backgroundColorPop);
  display: inline-block;
  text-align: center;
  /* text-justify: center; */
  /* margin-left: 25%; */
  margin-right: 5px;
}

.unselectedRadioButton{
  width: 20%;
  /* margin-left: 15%; */
  margin-bottom: 10px;
  height: 40px !important;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
  display: inline-block;
  text-align: center;
  /* text-justify: center; */
  /* margin-left: 25%; */
  margin-right: 5px;
}

.selectedRadioButton p{
  color: var(--textColor1);
	display: flex;
  justify-content: center;
	align-content: center;
	margin: 12;
}

.unselectedRadioButton p {
	color: var(--textColor2);
  justify-content: center;
	display: flex;
	align-content: center;
	margin: 12;
}





.ingredientsForm label {
  color: var(--textColor2);
}

.recipeNameDiv {
  justify-content: center;
  display: flex;
}

.ingredient {
  justify-content: center;
  display: flex;
}

.ingredientsContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.recipeNameDiv label {
  align-content: center;
  margin-bottom: 10px;
  margin-right: 2%;
  font-size: 18;
}
.ingredient label {
  align-content: center;
  margin-bottom: 10px;
  margin-right: 2.75%;
  font-size: 18;
}

.extraIngredient {
  justify-content: center;
  display: flex;
  margin-left: 9.6%;
}

.extraIngredient input {
  width: 77.5%;
}

.extraIngredient label {
  align-content: center;
  margin-bottom: 10px;
  margin-right: 2.8%;
  font-size: 18;
}

.removeIngredientButton {
  width: 10%;
  margin-left: 8px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
}

.removeIngredientButton:hover {
  cursor: pointer;
}

.addIngredientButton {
  width: 10%;
  margin-left: 20.5%;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
}

.addIngredientButton:hover {
  cursor: pointer;
}

.recipeSubmitButton {
  width: 50% !important;
  margin-left: 25%;
}

#recipeInstructions {
  resize: none;
  overflow-y: hidden;
  height: 84px;
  margin-left: 35px;
}
#recipeImage {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#recipeDescription {
  resize: none;
  overflow-y: hidden;
  height: 84px;
  margin-left: 35px;
}

.recipeInstructions {
  display: flex;
  justify-content: center;
}

.recipeInstructions label {
  /* display: flex; */
  align-content: flex-start;
  /* margin-bottom: 10px; */
  /* margin-right: 2.75%; */
  font-size: 18;
  margin-top: 10px;
}

.recipeInstructions textarea {
  width: 70%;
  /* margin-left: 15%; */
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--backgroundColorPop);
  background-color: var(--backgroundColor);
}

.recipeSubmitButton:hover {
  cursor: pointer;
}


























































/* media queries */
@media (max-width: 710px) {
  .navBar {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* padding: 10; */
    /* align-items: center; */
  }

  .websiteName {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }

  .websiteNameText {
    margin-bottom: 0px;
  }

  .navBarButtons {
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
    height: 100%;
    align-items: center;
  }
  /* come back and fix the button sizing later */
  .navBarButtons button {
    margin-left: 0px;
    margin-bottom: 5px;
    width: 100%;
  }
}

@media (max-width: 890px) {
  .footerBar {
    height: 150px;
  }
}

@media (max-width: 570px) {
  .footerBar {
    height: 220px;
  }
}
